<header class="header">
    <div class="container header__container">
      <a class="logo" href="./index.html" lang="en">
        <span class="logo__accent">Web</span>Studio
      </a>
      <nav class="navigation">
        <ul class="nav-list">
          <li class="nav-list__item">
            <a class="nav-list__link nav-list__link--current" href="./index.html">Студия</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="./portfolio.html">Портфолио</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="">Контакты</a>
          </li>
        </ul>
      </nav>
      <ul class="header-contacts">
        <li class="header-contacts__item">
          <a class="header-contacts__link" href="mailto:info@devstudio.com">
            <svg class="header-contacts__icon icon-letter" width="14" height="10">
              <use href="/assets/img/icons.svg#mail"></use>
            </svg>
            info@devstudio.com
          </a>
        </li>
        <li class="header-contacts__item">
          <a class="header-contacts__link" href="tel:+380961111111">
            <svg class="header-contacts__icon icon-phone" width="10" height="14">
              <use href="/assets/img/icons.svg#smartphone"></use>
            </svg>
            +38 096 111 11 11
          </a>
        </li>
      </ul>
      <!-- <button type="button" class="mobile-menu-btn" data-menu-open>
        <svg class="mobile-menu-btn__icon" width="40" height="40">
          <use href="/assets/img/icons.svg#burger-menu-icon"></use>
        </svg>
      </button> -->
    </div>

    <!-- <div class="mobile-menu" data-menu>
      <div class="container mobile-menu__container">
        <nav>
          <ul class="nav-list">
            <li class="nav-list__item">
              <a class="nav-list__link nav-list__link--current" href="./index.html">Студия</a>
            </li>
            <li class="nav-list__item">
              <a class="nav-list__link" href="./portfolio.html">Портфолио</a>
            </li>
            <li class="nav-list__item">
              <a class="nav-list__link" href="">Контакты</a>
            </li>
          </ul>
        </nav>

        <ul class="contacts">
          <li class="contacts__item">
            <a class="contacts__link" href="tel:+380961111111"> +38 096 111 11 11 </a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link contacts__link--mail" href="mailto:info@devstudio.com">
              info@devstudio.com
            </a>
          </li>
        </ul>
        <ul class="mobile-social-list">
          <li class="mobile-social-list__item">
            <a class="mobile-social-list__link" href="https://www.instagram.com/" target="_blank"
              >Instagram</a
            >
          </li>
          <li class="mobile-social-list__item">
            <a class="mobile-social-list__link" href="https://twitter.com" target="_blank"
              >Twitter</a
            >
          </li>
          <li class="mobile-social-list__item">
            <a class="mobile-social-list__link" href="https://www.facebook.com" target="_blank"
              >Facebook</a
            >
          </li>
          <li class="mobile-social-list__item">
            <a class="mobile-social-list__link" href="https://www.linkedin.com" target="_blank"
              >LinkedIn</a
            >
          </li>
        </ul>
        <button class="mobile-menu__close-btn" data-menu-close>
          <svg class="mobile-menu__close-icon" width="40" height="40">
            <use href="./assets/img/icons.svg#close_40px"></use>
          </svg>
        </button>
      </div>
    </div> -->
  </header>