<footer class="footer">
    <div class="container footer-wrapper">
      <div class="footer-tablet-wrapper">
        <div class="footer-contacts-wrapper">
          <a class="logo" href="./index.html" lang="en">
            <span class="logo__accent">Web</span><span class="logo-footer__accent">Studio</span>
          </a>
          <address class="address">
            <ul class="address-list">
              <li class="address-list__item">
                <a
                  class="address-list__text"
                  href="https://goo.gl/maps/CnC2TCS1E6ZWtg9c6"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  г. Киев, пр-т Леси Украинки, 26
                </a>
              </li>
              <li class="address-list__item">
                <a
                  class="address-list__text address-list__contacts"
                  href="mailto:info@example.com"
                  >info@example.com</a
                >
              </li>
              <li class="address-list__item">
                <a class="address-list__text address-list__contacts" href="tel:+380991111111"
                  >+38 099 111 11 11</a
                >
              </li>
            </ul>
          </address>
        </div>
        <div class="footer-social-container">
          <h3 class="secondary-tittle">присоединяйтесь</h3>
          <ul class="social-list">
            <li class="social-list__item">
              <a class="social-list__link" href="https://www.instagram.com/" target="_blank">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="/assets/img/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link" href="https://twitter.com" target="_blank">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="/assets/img/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link" href="https://www.facebook.com">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="/assets/img/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link" href="https://www.linkedin.com">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="/assets/img/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="newsletter-wrapper">
        <h3 class="secondary-tittle">Подпишитесь на рассылку</h3>
        <div class="newsletter">
          <input class="newsletter__input" name="user-mail-newsletter" placeholder="E-mail" />
          <button type="submit" class="button">
            Подписаться
            <span class="newsletter-icon-wrapper">
              <svg width="24" height="24">
                <use href="/assets/img/icons.svg#icon-send"></use>
              </svg>
            </span>
          </button>
        </div>
      </div>
    </div>
  </footer>