<section class="section section--no-padding-top">
    <div class="container">
      <h2 class="section__tittle">Чем мы занимаемся</h2>
      <ul class="activity">
        <li class="activity__item">
          <img
            src="/assets/img/img.jpg"
            alt="Набор текста на клавиатуре"
            width="370"
            height="294"
          />
          <div class="activity__wrapper">
            <p class="activity__text">Десктопные приложения</p>
          </div>
        </li>
        <li class="activity__item">
          <img
            src="/assets/img/img2.jpg"
            alt="Набор текста на клавиатуре"
            width="370"
            height="294"
          />
          <div class="activity__wrapper">
            <p class="activity__text">Мобильные приложения</p>
          </div>
        </li>
        <li class="activity__item">
          <img
            src="/assets/img/img3.jpg"
            alt="Набор текста на клавиатуре"
            width="370"
            height="294"
          />
          <div class="activity__wrapper">
            <p class="activity__text">Дизайнерские решения</p>
          </div>
        </li>
      </ul>
    </div>
  </section>