<section class="section">
    <div class="container">
      <h2 class="section__tittle">Постоянные клиенты</h2>
      <ul class="clients-list">
        <li class="clients-list__item">
          <a class="clients-list__link" href="">
            <svg class="clients-list__icon">
              <use href="/assets/img/icons.svg#yago"></use>
            </svg>
          </a>
        </li>
        <li class="clients-list__item">
          <a class="clients-list__link" href="">
            <svg class="clients-list__icon">
              <use href="/assets/img/icons.svg#companytag"></use>
            </svg>
          </a>
        </li>
        <li class="clients-list__item">
          <a class="clients-list__link" href="">
            <svg class="clients-list__icon">
              <use href="/assets/img/icons.svg#company"></use>
            </svg>
          </a>
        </li>
        <li class="clients-list__item">
          <a class="clients-list__link" href="">
            <svg class="clients-list__icon">
              <use href="/assets/img/icons.svg#foster"></use>
            </svg>
          </a>
        </li>
        <li class="clients-list__item">
          <a class="clients-list__link" href="#">
            <svg class="clients-list__icon">
              <use href="/assets/img/icons.svg#brand"></use>
            </svg>
          </a>
        </li>
        <li class="clients-list__item">
          <a class="clients-list__link" href="">
            <svg class="clients-list__icon">
              <use href="/assets/img/icons.svg#companyline"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </section>